In [7]:
# !pip install pandas
# !pip install matplotlib

import pandas as pd
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [8]:
df = pd.read_csv('walthamUsage.csv')

In [18]:
df

,Unnamed: 0.11,Unnamed: 0.10,Unnamed: 0.9,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,...,Owner,Built\nType,Total Value,Beds\nBaths,Lot size\nFin area,LUC\nDescription,NHood,Sale date\nSale price,Book Page,water usage
0,0,0,0,0,0,0,0,0,0,0,...,BILLINGS RANDOLPH W--ETAL\nBILLINGS SARAH MONSMA,1932\nOld Style,"$770,500",4\n2,"4,051\n1,727",101\nOne Family,6,"2/27/1992\n$150,000",1091-178,NaN
1,1,1,1,1,1,1,1,1,1,1,...,15 ABERDEEN LLC,1940\nOld Style,"$672,200",3\n1,"4,051\n1,341",101\nOne Family,6,12/29/2022\n$100,81118-477,NaN
2,2,2,2,2,2,2,2,2,2,2,...,MJA HOLDINGS LLC,1925\nColonial,"$700,100",3\n1,"4,008\n1,455",101\nOne Family,6,8/1/2022\n$100,80516-295,NaN
3,3,3,3,3,3,3,3,3,3,3,...,ROBINSON THOMAS\nEPSTEIN LINDA F,1920\nColonial,"$973,900",3\n2,"8,973\n1,680",101\nOne Family,6,"5/28/1998\n$222,000",28632-415,NaN
4,4,4,4,4,4,4,4,4,4,4,...,SREMAC MARINKO & IZABELA,1932\nColonial,"$861,400",3\n1,"3,759\n1,683",101\nOne Family,6,"6/3/2016\n$720,000",67371-540,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11883,11883,11883,11883,11883,11883,11883,11883,11883,11883,11883,...,ANDREWS JAMES P/ TTE\nANDREWS IRREVOCABLE TRUST,2004\nCondo TnHs.,"$977,300",3\n2,"0\n2,092",102\nCondo,7511,11/4/2022\n$10,80916-531,NaN
11884,11884,11884,11884,11884,11884,11884,11884,11884,11884,11884,...,MASTROGIOVANNI JOYCE/TRUSTEE\nMASTROGIOVANNI F...,2004\nCondo TnHs.,"$784,100",1\n2,"0\n1,407",102\nCondo,7511,"5/19/2017\n$640,000",69305-55,NaN
11885,11885,11885,11885,11885,11885,11885,11885,11885,11885,11885,...,CHIAMPO MATTEO & ASHLEY CROSS,2004\nCondo TnHs.,"$977,300",3\n2,"0\n2,092",102\nCondo,7511,"10/30/2003\n$601,723",41323-003,NaN
11886,11886,11886,11886,11886,11886,11886,11886,11886,11886,11886,...,BAKEY CHERYL A TRUSTEE\nBAKEY FAMILY IRREVOCAB...,2003\nCondo TnHs.,"$900,000",2\n2,"0\n1,910",102\nCondo,7511,"6/29/2018\n$689,000",71242-590,NaN
11887,11887,11887,11887,11887,11887,11887,11887,11887,11887,11887,...,MATTHEWS PAUL KARL,2003\nCondo TnHs.,"$845,600",1\n1,"0\n1,739",102\nCondo,7511,"5/29/2003\n$373,550",39356-599,NaN

In [22]:
dfZero=df[df['usage']<=0]

In [23]:
dfZero.to_csv('zero_temp_waltham.csv')

In [24]:
dfZero['Location']

97             61  ADAMS ST
1199      221  BEAR HILL RD
1212    34-40  BEAR HILL RD
1216         110  BEAVER ST
1223         240  BEAVER ST
3401       70  CLEMATIS AVE
5032         200  FELTON ST
Name: Location, dtype: object